header {
  text-align: center;
  font-size: 40px;
  color: white;
  background-color: tomato;
}

.container {
  width: 75%;
  margin: auto;
}

/* Homepage */
.homepage {
  height: 100vh;
  padding: 10px;
  background-color: coral;
}
.homepage-content {
  position: relative;
  text-align: center;
  top: 30%;
}
.homepage-header {
  font-size: 70px;
}
.login-button {
  float: right;
  margin: 10px;
}

/* Quiz Styles */
.quizBody {
  width: 70%;
  margin: auto;
  min-height: 40vh;
  padding: 10px;
  background-color: cornsilk;
}
.question-grid {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto;
}
