@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker");

header {
  text-align: center;
  font-size: 40px;
  color: white;
  background-color: tomato;
  font-family: "Permanent Marker";
}

#header-font {
  font-family: "Permanent Marker";
}

.container {
  width: 75%;
  margin: auto;
}

/* Homepage */
.homepage {
  height: 100vh;
  padding: 10px;
  background-color: coral;
}
.homepage-content {
  position: relative;
  text-align: center;
  top: 30%;
}
.homepage-header {
  font-size: 70px;
}
.login-button {
  float: right;
  margin: 10px;
}

/* Quiz Styles */
.quiz-header {
  height: 20vh;
  padding: 20px 40px;
}

.quizBody {
  width: 70%;
  margin: auto;
  min-height: auto;
  padding: 20px;
  background-color: cornsilk;
}
.question-grid {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto;
}

.question-animation-enter {
  opacity: 0;
  transition: 1000ms all ease;
  transform: translateX(-100%);
}

.question-animation-enter-active {
  opacity: 1;
  transition: 1000ms all ease;
  transform: translateX(0%);
}

.question-animation-leave {
  opacity: 1;
  transition: 500ms all;
  transform: translateX(0%);
}

.question-animation-leave-active {
  opacity: 0;
  transition: 500ms all;

  transform: translateX(100%);
}
